In [0]:
%run /Workspace/Users/leonardocapriglione@gmail.com/ifood-case/Case-iFood/src

In [0]:
df.createOrReplaceTempView("yellow_taxi_table")

In [0]:
resposta1 = spark.sql("""
    SELECT
        date_format(pickup_date, 'yyyy-MM') AS ano_mes,
        ROUND(AVG(total_amount), 2) AS media_total_amount
    FROM
        yellow_taxi_table
    WHERE
        tpep_dropoff_datetime IS NOT NULL
    GROUP BY
        date_format(pickup_date, 'yyyy-MM')
    ORDER BY
        ano_mes
""")

meses_desejados = ['2023-01', '2023-02', '2023-03', '2023-04', '2023-05']

df_filtrado = resposta1.filter(col('ano_mes').isin(meses_desejados)).orderBy('ano_mes')

for row in df_filtrado.collect():
    print(f"No mês de {row['ano_mes']} a média foi de: {row['media_total_amount']:.2f}")

In [0]:
resposta2 = spark.sql("""SELECT
    hour(pickup_time) as hour_of_day,
    ROUND(AVG(passenger_count), 2) AS avg_passager
FROM
    yellow_taxi_table
WHERE
    pickup_date >= DATE('2023-05-01')
    AND pickup_date < DATE('2023-06-01')
GROUP BY
    hour(pickup_time)
ORDER BY
    hour_of_day""")

for row in resposta2.orderBy("hour_of_day").collect():
    hour = row['hour_of_day']
    avg_passager = row['avg_passager']
    print(f"Na hora {hour} a média de passageiros foi de: {avg_passager:.2f}")